@font-face {
    font-family: 'Open Sans';
    src: url("./opensans/OpenSans-Regular.woff") format('woff'),
    url("./opensans/OpenSans-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Open Sans';
    src: url("./opensans/OpenSans-Bold.woff") format('woff'),
    url("./opensans/OpenSans-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Open Sans';
    src: url("./opensans/OpenSans-Medium.woff") format('woff'),
    url("./opensans/OpenSans-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}