@import url('../navigation/nav.css');
body{
    height: 100vh;
}
.container {
    padding: var(--gap);
    height: 100%;
}

.page {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    height: 100%;
}

.page__text {
    font-size: var(--regular-font-size);
}

.page__button {
    background-color: var(--primary-default-color);
    height: 42px;
    width: 98px;
    color: var(--color-white)
}

.page__button:hover {
    background-color: var(--primary-hover-color);
    color: var(--color-white)
}

.page__button:active {
    background-color: var(--primary-active-color);
    color: var(--color-white)
}

.page__button:disabled {
    background-color: var(--primary-disabled-color);
    color: var(--disabled-font-button);
}