@import url('./nav.css'); 
body{
    height: 100vh;
}
#app{
    height: 100%
}
.empty-projects-container{
    height: 100%
}
.container {
    padding: var(--gap);
    height: 100%
}

.page {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    height: 100%;
} 

 .page__text {
    font-size: var(--regular-font-size);
}

.page__button  {
    height: 42px;
    width: 98px;
} 

 .page__button:hover {
    background-color: var(--primary-hover-color);
    color: var(--color-white)
}

.page__button:active {
    background-color: var(--primary-active-color);
    color: var(--color-white)
}

.page__button:disabled {
    background-color: var(--primary-disabled-color);
    color: var(--disabled-font-button);
}